.navigation {
	position: fixed;
	top: 0;
	left: 0;

	padding: 0 5%;
	border-bottom: 0.5px solid #fff;

	min-height: 8vh;
	width: 100%;

	color: #fff;

	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(2px);

	box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 4px 0px;

	display: flex;
	align-items: center;
	justify-items: flex-end;

	transition: background-color 0.4s ease-out;

	z-index: 10;
}

.overlay {
	display: none;

	pointer-events: none;

	z-index: 2;
}

.logo {
	margin-right: auto;
}

.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-links li {
	list-style: none;
}

/* ! Not used */
.divider {
	height: 0.5px;
	width: 100%;

	background-color: #ccc;
}

/* Social Media Icons */

.social {
	margin-bottom: 4rem;
}

.social h3 {
	margin-bottom: 1.25rem;

	font-size: 1.5rem;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.link-social {
	margin-right: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.link-social:hover .icon {
	fill: #5eb043;
}

.icon {
	width: 34px;
	height: 34px;

	fill: #fff;

	transition: 0.2s ease-out;
}

/* ------------------ */

.burger {
	width: 30px;
	height: 20px;

	display: none;
	justify-content: space-between;
	flex-direction: column;

	transform: scale(0.8);
}

.burger div {
	width: 100%;
	height: 2px;

	background-color: #fff;

	transition: all 0.4s ease;
}

.nav-open {
	background-color: #0b0b0b;
}

.nav-open .line-1 {
	transform: translateY(9px) rotate(45deg);
}

.nav-open .line-2 {
	opacity: 0;
}

.nav-open .line-3 {
	transform: translateY(-9px) rotate(-45deg);
}

@media screen and (max-width: 580px) {
	.nav-open .nav-links {
		transform: translateX(0);

		z-index: 10;
	}

	.nav-links {
		position: absolute;
		top: calc(8vh + 0.5px);
		right: 0;

		padding: 1rem;

		height: calc(92vh - 0.5px);
		width: 70vw;

		color: #fff;

		background-color: #0b0b0b;

		align-items: flex-start;
		flex-direction: column;

		transform: translateX(70vw);

		transition: transform 0.3s ease-out;
	}

	.nav-open .overlay {
		background-color: rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(0.5px);
	}

	.overlay {
		position: absolute;
		top: 6vh;
		left: 0;

		width: 99vw;
		height: 94vh;

		background-color: rgba(0, 0, 0, 0);
		backdrop-filter: blur(0);

		transition: all 0.4s ease-out;

		display: block;
	}

	.nav-links ul {
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.nav-links ul li {
		padding: 0.25rem 0;
		border-radius: 4px;
		width: 100%;
	}

	.nav-links ul li a {
		padding: 0.5rem 1.5rem;
		border-radius: 4px;

		background-color: transparent;

		transition: 0.2s ease-out;

		display: block;
	}

	.nav-links ul li a.active,
	.nav-links ul li:hover a {
		background-color: #181818;
	}

	.burger {
		display: flex;
	}
}

@media screen and (min-width: 768px) and (max-width: 800px) {
	.navigation {
		min-height: 60px;

		z-index: 11;
	}

	.nav-open .nav-links {
		transform: translateY(0);
	}

	.nav-links {
		position: absolute;
		top: 60.5px;
		left: 0;

		padding: 2rem;

		min-height: 30vh;
		width: 100vw;

		color: #fff;

		background-color: #0b0b0b;

		align-items: flex-start;
		justify-content: space-around;
		/* flex-direction: column; */

		transform: translateY(calc(-30vh - 60.5px));

		transition: transform 0.3s ease-out;

		z-index: -1;
	}

	.nav-open .overlay {
		background-color: rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(0.5px);
	}

	.overlay {
		position: absolute;
		top: 6vh;
		left: 0;

		width: 100vw;
		height: 94vh;

		background-color: rgba(0, 0, 0, 0);
		backdrop-filter: blur(0);

		transition: all 0.4s ease-out;

		display: block;
	}

	.nav-links ul {
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.nav-links ul li {
		padding: 0.25rem 0;
		border-radius: 4px;
		width: 100%;
	}

	.nav-links ul li a {
		padding: 0.5rem 1.5rem;
		border-radius: 4px;

		background-color: transparent;

		transition: 0.2s ease-out;

		display: block;
	}

	.nav-links ul li a.active,
	.nav-links ul li:hover a {
		background-color: #181818;
	}

	.burger {
		display: flex;
	}

	.social {
		flex-basis: 45%;
	}
}

@media screen and (min-width: 801px) {
	.navigation {
		padding: 0 10%;
		width: 100vw;
	}

	.logo {
		font-size: 1.25rem;
	}

	.nav-links ul {
		display: flex;
		align-items: center;
	}

	.overlay,
	.social {
		display: none;
	}

	/* * End of Added Code */

	.nav-links ul li:not(:last-of-type) {
		margin: 0 0.75rem;
		border-radius: 4px;

		flex-shrink: 0;
	}

	.nav-links ul li a {
		padding: 0.5rem 1rem;
		border-radius: 4px;

		text-align: center;

		background-color: transparent;

		transition: 0.2s ease-out;

		display: block;
	}

	.nav-links ul li a.active,
	.nav-links ul li a:hover,
	.nav-links ul li:hover a {
		background-color: #181818;
	}
}
