.navigation {
	position: fixed;
	top: 0;
	left: 0;

	padding: 0 5%;
	border-bottom: 0.5px solid #fff;

	min-height: 60px;
	width: 100%;

	color: #fff;

	background-color: #0b0b0b;
	backdrop-filter: blur(2px);

	box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 4px 0px;

	display: flex;
	align-items: center;
	justify-items: flex-end;

	transition: background-color 0.4s ease-out;

	z-index: 10;
}

/* Overlay */

.overlay {
	position: absolute;
	top: 60px;
	left: 0;

	width: 99vw;
	height: calc(100vh - 60px);

	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: blur(0);

	transition: all 0.4s ease-out;

	pointer-events: none;

	z-index: 2;
}

/* Logo */

.logo {
	margin-right: auto;
}

.logo img {
	max-height: 28px;
}

/* Nav-links */

.nav-links {
	position: absolute;
	top: 60.5px;
	right: 0;

	padding: 1rem;

	height: calc(100vh - 60.5px);
	width: 70vw;

	color: #fff;

	background-color: #0b0b0b;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	transform: translateX(70vw);

	transition: transform 0.3s ease-out;
}

.nav-links ul {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.nav-links ul li {
	padding: 0.25rem 0;
	border-radius: 4px;

	width: 100%;

	list-style: none;
}

.nav-links ul li a {
	padding: 0.5rem 1.5rem;
	border-radius: 4px;

	background-color: transparent;

	transition: 0.2s ease-out;

	display: block;
}

.nav-links ul li a.active,
.nav-links ul li:hover a {
	background-color: #181818;
}

/* Social Media Icons */

.social {
	margin-bottom: 4rem;
}

.social h3 {
	margin-bottom: 1.25rem;

	font-size: 1.5rem;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.link-social {
	margin-right: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.link-social:hover .icon {
	fill: #5eb043;
}

.icon {
	width: 34px;
	height: 34px;

	fill: #fff;

	transition: 0.2s ease-out;
}

/* Locale switcher */

.locale {
	margin-right: 0.75rem;
	padding-right: 0.75rem;
	border-right: 1px solid #fff;
}

/* Burger */

.burger {
	width: 30px;
	height: 20px;

	display: flex;
	justify-content: space-between;
	flex-direction: column;

	transform: scale(0.8);

	cursor: pointer;
}

.burger div {
	width: 100%;
	height: 2px;

	background-color: #fff;

	transition: all 0.4s ease;
}

/* Code for open nav */

.nav-open .line-1 {
	transform: translateY(9px) rotate(45deg);
}

.nav-open .line-2 {
	opacity: 0;
}

.nav-open .line-3 {
	transform: translateY(-9px) rotate(-45deg);
}

.nav-open .nav-links {
	transform: translateX(0);

	z-index: 10;
}

.nav-open .overlay {
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(0.5px);
}

@media screen and (min-width: 769px) {
	/* Nav Links */

	.nav-links {
		position: absolute;
		top: 60.5px;
		left: 0;
		right: unset;

		padding: 2rem 0;

		min-height: 200px;
		height: unset;
		width: 100%;

		flex-direction: row;
		justify-content: space-around;

		transform: translateY(calc(-100% - 60.5px));

		z-index: -1;
	}

	.nav-links ul {
		flex-basis: unset;
		width: auto;
	}

	/* Nav Open */

	.nav-open {
		transform: translateY(0);
	}
}
