.carousel-container {
	height: 400px;
	width: 110%;

	overflow-x: scroll;

	display: flex;
}

.carousel-container::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.carousel-container::-webkit-scrollbar-thumb {
	background: transparent;
}

.slider {
	position: relative;

	margin: 0 -5%;

	width: 110%;
	height: 380px;

	overflow-x: hidden;
}

.slider-inner {
	position: absolute;
	top: 0;
	left: 0;

	width: 200%;
	height: 100%;

	display: grid;
	/* grid-template-columns: set directly in the Event.js file */
	gap: 2.5vw;

	transition: 0s ease-in;

	pointer-events: none;
}
