.link {
	position: relative;
	/* margin: 0 0.5rem; */

	/* height: 48px;
	width: 48px; */
	height: 100%;
	width: 100%;

	display: block;
}

.logo-img {
	/* position: absolute;
	left: 0;
	right: 0; */

	height: 100%;
	width: 100%;
}
