.footer {
	padding: 1rem 5%;

	width: 100%;

	color: #fff;

	background-color: #080808;
}

.container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.logo {
	font-size: 1.5rem;
}

.section {
	margin-top: 0.8rem;
}

.section-title {
	margin-bottom: 0.5rem;

	font-size: 1.1rem;
}

.section ul {
	margin-bottom: 1rem;
	margin-right: 0.5rem;
}

.section ul li {
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.9rem;

	list-style: none;
}

.small {
	margin: 0;
	padding-top: 0.75rem;
	border-top: 0.1px solid rgba(255, 255, 255, 0.2);

	color: rgba(255, 255, 255, 0.5);
	font-size: 0.7rem;
	font-weight: 300;
	text-align: center;
}

@media screen and (min-width: 801px) {
	.footer {
		padding: 1rem 10%;
	}
}
