.hero {
	margin-top: 60px;
}

.banner {
	width: 100%;

	display: block;
}

.banner-tablet {
	display: none;
}

.banner-desktop {
	display: none;
}

@media screen and (min-width: 768px) and (max-width: 800px) {
	.banner-mobile {
		display: none;
	}

	.banner-tablet {
		display: block;
	}

	.banner-desktop {
		display: none;
	}
}

@media screen and (min-width: 801px) {
	.banner-mobile {
		display: none;
	}

	.banner-tablet {
		display: none;
	}

	.banner-desktop {
		display: block;
	}
}
