.catalogue {
	margin: 0 -5vw;
	padding: 7.5rem 5vw;

	color: #fff;

	background-color: #2f2d63;

	clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
}

.container {
	margin-bottom: 2.5rem;

	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.details {
	padding-right: 1rem;

	flex-basis: 70%;
}

.details p {
	color: rgba(255, 255, 255, 0.8);
}

.section-title {
	font-size: 2rem;
	font-weight: 500;
}

.img-container {
	margin: 0 auto;

	flex-basis: 25%;
}

.img {
	width: 100%;

	filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4));
}

.cta {
	border: none;
	border-radius: 4px;

	width: 100%;

	background-color: transparent;
}

.link {
	position: relative;

	padding: 1rem 1.5rem;
	border-radius: 4px;

	width: 100%;

	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 500;

	background-color: #786fbc;

	transition: 0.4s ease-out;

	display: block;

	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.link::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;

	transform: scale(10, 10);

	opacity: 0;

	transition: transform 0.4s, opacity 1s;

	display: block;

	pointer-events: none;
}

.link:active::after {
	transform: scale(0, 0);
	opacity: 0.3;
	transition: 0s;
}

@media screen and (min-width: 768px) and (max-width: 800px) {
	.catalogue {
		position: relative;
	}

	.cta,
	.link {
		width: calc(45vw - 3rem);

		display: inline-block;
	}

	.cta {
		position: absolute;
		bottom: 150px;
		left: 5vw;
	}

	.link {
		padding: 0.75rem 1rem;
	}

	.img-container {
		height: 220px;

		flex-basis: 50%;
	}

	.img {
		height: 100%;

		object-fit: contain;
	}

	.details {
		padding-right: 3rem;

		flex-basis: 50%;
	}
}

@media screen and (min-width: 801px) {
	.catalogue {
		position: relative;

		margin: 0 -10vw;
		padding: 7.5rem 10vw;

		width: calc(100% + 20vw);

		background: rgb(47, 45, 99);
		background: linear-gradient(
			90deg,
			rgba(47, 45, 99, 1) 0%,
			rgba(47, 45, 99, 1) 52%,
			rgba(255, 255, 255, 1) 52%,
			rgba(255, 255, 255, 1) 100%
		);
	}

	.cta,
	.link {
		width: 25vw;

		display: inline-block;
	}

	.cta {
		position: absolute;
		bottom: 150px;
		left: 10vw;
	}

	.link {
		padding: 0.75rem 1rem;
	}

	.img-container {
		margin-left: 30vw;

		height: 220px;

		flex-basis: 50%;

		z-index: 2;
	}

	.img {
		height: 100%;

		object-fit: contain;
	}

	.details {
		padding-right: 3rem;

		flex-basis: 50%;
	}
}
