.catalogue {
	margin: -3vh -5vw 0 -5vw;
	padding: 10vh 5vw 2rem 5vw;

	width: calc(100% + 10vw);

	background-color: #fff;

	clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
}

.container {
	margin-bottom: 2.5rem;
}

.details {
	padding-right: 1rem;

	flex-basis: 70%;
}

.details h1 {
	font-size: 2rem;
	font-weight: 500;
}

.details p {
	color: #727272;
}

.catalogues-container {
	margin: 3rem auto 0 auto;

	/* flex-basis: 25%; */
}
