.transport {
	margin: 0 -5%;
	padding: 10vh 5% 15vh 5%;

	width: 110%;

	background-color: #f7f4ea;
}

.transport h1 {
	font-size: 2rem;
	font-weight: 500;
}

.transport p {
	color: #747474;
}
.transport p:first-of-type {
	margin-bottom: 0;
}

.transport p:last-of-type {
	margin-bottom: 3.5rem;
}

.link-container li {
	list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 800px) {
	.transport {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.details {
		flex-basis: 50%;
	}

	.transport p {
		padding-right: 1.5rem;
	}

	.link-container {
		flex-basis: 50%;
	}
}

@media screen and (min-width: 768px) {
	.transport {
		margin: 0 -10vw;
		padding-left: 10vw;
		padding-right: 10vw;

		width: 100vw;

		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	.details {
		flex-basis: 50%;
	}

	.transport p {
		padding-right: 1.5rem;
	}

	.link-container {
		flex-basis: 50%;
	}
}
