.events {
	margin: -3vh -5vw 0 -5vw;
	padding: 10vh 5vw 4rem 5vw;

	width: calc(100% + 10vw);

	background-color: #f3f1f9;

	clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
}

.container {
	margin-bottom: 1rem;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.date {
	margin-bottom: 0;

	color: #5eb043;
	font-size: 0.8rem;
}

.icon {
	margin-right: 10px;

	width: 18px;

	fill: #5eb043;
}

@media screen and (min-width: 801px) {
	.events {
		margin: -3vh -10vw 0 -10vw;
		padding: 10vh 10vw 4rem 10vw;

		width: calc(100% + 20vw);
	}
}
